@media(max-width:431px) {

/*header///////*/
.navegador {
    z-index: 99;
    width: 100%;
    position:fixed;
    display:flex;
    flex-direction: column;
    background-color: var(--blanco);
}
.nave {
    display: none;
    width: 100%;
    flex-direction: column;
    gap:20px;
    background-color: var(--blanco);
}

.nave a{
    color:var(--negro);
    width:100%;
    border-bottom: 2px solid var(--gris);
}


.nave.active {
  display: flex;
}

.abinails{
    width: 80px;
}

.abinails img{
    width: 100%;
    height: auto;
    display: block;
}

 .hamburguesa {
    display:flex;
    align-items: center;
}


 .hamburguesa i{
    color:var(--negro);
    font-size: 25px;
 }

 .phone {
    display:flex;
    gap:150px;
    justify-content: space-evenly;
 }
/*////////////////*/

/*/////Gallery/////////////*/
.galeria {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blanco);
  padding:80px 0px;
  margin: 20px;
}


.fotos {
    display:grid;
    margin:10px 0px;
    grid-template-areas: "fot1" 
                        "fot2" 
                         "fot3" 
                         "fot4"
                         "fot5"
                         "fot6"
                         "fot7"
                         "fot8"
                         "fot9"
                         "fot10"
                         "fot11"
                         "fot12"
                         "fot13"
                         "fot14"
                         "fot15"
                         "fot16";
}
/*/////////////////////////////*/

/*/////footer////////*/
footer {
  flex-direction: column;
  gap:50px;
}
.textofooter {
  display:flex;
  flex-direction: column;
  gap:10px;
  color:var(--blanco);
}
/*///////////////////*/

}