* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --negro: #0d152a;
  --rojo:#f64b5e;
  --gris:#686969;
  --blanco:#ffffff;
  --gris2:#f4f5f7;
  --formato1:"Urbanist", sans-serif;
  --formato2:"Urbanist", sans-serif;
}

h1 {
  font-family: var(--formato1);
}

h2 {
  font-family: var(--formato1);
}

h3{
  font-family: var(--formato1);
}
a{
    text-decoration: none;
    font-family:var(--formato2);
}

button{
    font-family:var(--formato2);
}

p {
    font-family:var(--formato2);
}

spam {
    color:var(--naranja);
}

/*header///////*/


.navegador {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px 100px;
}

.cuadro {
    display:none;
}

.abinails {
    display:flex;
    width: 20%;
    align-items: center;
}

.abinails img{
    display:flex;
    width: 60%;
}

.phone {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.nave {
    display:flex;
    gap:10px;
    align-items: center;
}

.nave a{
    color:var(--negro);
    font-size: 25px;
}


.nave a:hover {
   color:var(--rojo);
   transition:1.0s;
}

.hamburguesa {
    display:none;
}
/*///////////////////////*/

/*///////slide///////////*/
.slide {
  display:flex;
  flex-direction: row;
  background-color: var(--negro);
  padding:20px;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  gap:5px;
}
.breadcrumb i{
  color:var(--blanco);
}
.breadcrumb p{
  color:var(--blanco);
}
.breadcrumb a{
  color:var(--blanco);
}
.breadcrumb a:hover{
  color:var(--rojo);
  transition: 0.8s;
}
/*//////////////////*/

/*/////Gallery/////////////*/
.galeria {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blanco);
  padding:60px 0px;
}
.fotos img {
    width: 350px;
    height: 400px;
    display:block;
    object-fit: cover;
    padding:20px;
}

.fot1 {
    grid-area: fot1;
}

.fot2 {
    grid-area: fot2;
}

.fot3 {
    grid-area: fot3;
}

.fot4 {
    grid-area: fot4;
}

.fot5 {
    grid-area: fot5;
}

.fot6 {
    grid-area: fot6;
}

.fot7 {
    grid-area: fot7;
}

.fot8 {
    grid-area: fot8;
}

.fotos {
    align-items: center;
    display:grid;
    grid-template-areas: "fot1 fot2 fot3 fot4" 
                         "fot5 fot6 fot7 fot8"
                         "fot9 fot10 fot11 fot12"
                         "fot13 fot14 fot15 fot16";
}
/*/////////////////////////*/

/*/////footer////////*/
footer {
  display:flex;
  justify-content: space-around;
  background-color: var(--rojo);
  align-items: center;
  padding:20px;
}
.textofooter {
  display:flex;
  flex-direction: column;
  gap:10px;
  color:var(--blanco);
}
.logosfooter {
  display: flex;
  text-align: center;
  gap:35px;
}
.logosfooter a{
  font-size: 25px;
  color:var(--blanco);
}
.logosfooter a:hover {
  color:var(--rojo);
  background-color: var(--blanco);
  padding:12px;
  border-radius: 20px;
  transition: 0.8s;
}
/*///////////////////*/

/*flecha/////////*/
html {
    scroll-behavior: smooth ;
}

.flecha {
    position: fixed;
    bottom:30px;
    right:20px;
    z-index:999;
 }

.flecha a{
    border: 2px var(--blanco) solid;
    border-radius: 10px;
    color:var(--blanco);
    background-color: var(--rojo);
    padding:10px;

}
/*///////////////*/