@media(max-width:431px) {

/*header///////*/
.navegador {
    z-index: 99;
    width: 100%;
    position:fixed;
    display:flex;
    flex-direction: column;
    background-color: var(--blanco);
}
.nave {
    display: none;
    width: 100%;
    flex-direction: column;
    gap:20px;
    background-color: var(--blanco);
}

.nave a{
    color:var(--negro);
    width:100%;
    border-bottom: 2px solid var(--gris);
}


.nave.active {
  display: flex;
}

.abinails{
    width: 80px;
}

.abinails img{
    width: 100%;
    height: auto;
    display: block;
}

 .hamburguesa {
    display:flex;
    align-items: center;
}


 .hamburguesa i{
    color:var(--negro);
    font-size: 25px;
 }

 .phone {
    display:flex;
    gap:150px;
    justify-content: space-evenly;
 }
/*////////////////*/

/*slide///////*/
.filtro {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  z-index: 2;
  color:var(--blanco);
}

.filtro h2{
  font-size:30px;
}
.contenedor_texto_slide {
   display:flex;
   flex-direction: row;
   gap:20px;
}
.contactus {
   display:flex;
}
.aboutus {
   display:flex;
}

.callbacks_nav {
  width: 40px;
}
/*////////////////*/


/*///////controlservices///////////*/
.controlservices {
    flex-direction: column;
    margin:20px 10px;
    justify-content: center;
    gap:20px;
    border: 6px var(--rojo) solid;
    border-radius: 20px;
}
.fotounas {
   display:none;
}
.contactus {
   align-items: center;
}
.contactus a{
 background-color: var(--rojo);
    padding:10px;
    border-radius: 20px;
    color:var(--blanco);
}
/*///////////////////*/

/*//////slide2paralax////////*/

/*///////////////*/
}