@media(max-width:431px) {

/*header///////*/
.navegador {
    z-index: 99;
    width: 100%;
    position:fixed;
    display:flex;
    flex-direction: column;
    background-color: var(--blanco);
}
.nave {
    display: none;
    width: 100%;
    flex-direction: column;
    gap:20px;
    background-color: var(--blanco);
    transition: 1.0s; 
}

.nave a{
    color:var(--negro);
    width:100%;
    border-bottom: 2px solid var(--gris);
    padding:5px 20px;
}


.nave.active {
  display: flex;
}

.abinails{
    width: 80px;
    border:2px red solid;
}

.abinails img{
    width: 100%;
    height: auto;
    display: block;
}

 .hamburguesa {
    display:flex;
    align-items: center;
    border: 2px green solid;
}


 .hamburguesa i{
    color:var(--negro);
    font-size: 25px;
 }

 .phone {
    display:flex;
    gap:150px;
    justify-content: space-around;
 }
/*////////////////*/

}