* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --negro: #0d152a;
  --rojo:#f64b5e;
  --gris:#686969;
  --blanco:#ffffff;
  --gris2:#f4f5f7;
  --formato1:"Urbanist", sans-serif;
  --formato2:"Urbanist", sans-serif;
}

h1 {
  font-family: var(--formato1);
}

h2 {
  font-family: var(--formato1);
}

h3{
  font-family: var(--formato1);
}
a{
    text-decoration: none;
    font-family:var(--formato2);
}

button{
    font-family:var(--formato2);
}

p {
    font-family:var(--formato2);
}

spam {
    color:var(--naranja);
}

/*header///////*/


.navegador {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px 100px;
}

.cuadro {
    display:none;
}

.abinails {
    display:flex;
    width: 20%;
    align-items: center;
}

.abinails img{
    display:flex;
    width: 60%;
}

.phone {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.nave {
    display:flex;
    gap:10px;
    align-items: center;
}

.nave a{
    color:var(--negro);
    font-size: 25px;
}


.nave a:hover {
   color:var(--rojo);
   transition:1.0s;
}

.hamburguesa {
    display:none;
}
/*///////////////////////*/

/*///////slide///////////*/
.slide {
  display:flex;
  flex-direction: row;
  background-color: var(--negro);
  padding:20px;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  gap:5px;
}
.breadcrumb i{
  color:var(--blanco);
}
.breadcrumb p{
  color:var(--blanco);
}
.breadcrumb a{
  color:var(--blanco);
}
.breadcrumb a:hover{
  color:var(--rojo);
  transition: 0.8s;
}
/*//////////////////*/

/*///////acordeon///////////*/

.acordeon1 {
    grid-area: acordeon1;
}

.acordeon2 {
    grid-area: acordeon2;
}

.acordeon3 {
    grid-area: acordeon3;
}

.acordeon4 {
    grid-area: acordeon4;
}

.acordeon5 {
    grid-area: acordeon5;
}

.acordeon6 {
    grid-area: acordeon6;
}

.cont_acordeon {
    display:grid;
    grid-template-areas: "acordeon1 acordeon2"
                          "acordeon3 acordeon4"            
                          "acordeon5 acordeon6"; 
                         
}

.ancho {
    max-width: 1200px;
    margin: auto;
}

.margen{
    padding: 30px;
}

.caja1sub1{
    border: 3px var(--rojo) solid;
    border-radius: 20px;
    background-color: var(--blanco);
    color: var(--negro);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.acor {
    font-size: 20px;
    padding-left: 5px;
}
.acor i{
    color: var(--blanco);
    background-color: var(--rojo);
    border-radius: 50%;
    padding:10px;
}


.caja1sub2{
    border: 3px var(--rojo) solid;
    border-radius: 20px;
    padding: 20px;
    display: none;
    margin:10px 0px;
}

.contenidoacordeon {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.contenidoacordeon img {
    width:250px;
    height:200px;
    border-radius: 20px;
}
.textoacordeon p{
    padding:5px;
    color:var(--negro);
    margin:20px;
    text-align: justify;
}
.rotar{
    transform: rotate(180deg);
    
}
/*////////////////////*/


/*/////footer////////*/
footer {
  display:flex;
  justify-content: space-around;
  background-color: var(--rojo);
  align-items: center;
  padding:20px;
}
.textofooter {
  display:flex;
  flex-direction: column;
  gap:10px;
  color:var(--blanco);
}
.logosfooter {
  display: flex;
  text-align: center;
  gap:35px;
}
.logosfooter a{
  font-size: 25px;
  color:var(--blanco);
}
.logosfooter a:hover {
  color:var(--rojo);
  background-color: var(--blanco);
  padding:12px;
  border-radius: 20px;
  transition: 0.8s;
}
/*///////////////////*/

/*flecha/////////*/
html {
    scroll-behavior: smooth ;
}

.flecha {
    position: fixed;
    bottom:30px;
    right:20px;
    z-index:999;
 }

.flecha a{
    border: 2px var(--blanco) solid;
    border-radius: 10px;
    color:var(--blanco);
    background-color: var(--rojo);
    padding:10px;

}
/*///////////////*/